*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.86) , transparent), url(./images/background.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
    height: 100vh;
    border-top: 80px solid #ff0000;
    border-left: 80px solid #ff0000;
}
h1{
    position: relative;
    left: 1%;
    top: 150px;
    font-size: 9vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: left;
}
h4{
    position: relative;
    left: 1%;
    top: 150px;
    font-size: 2.5vh;
    justify-content: left;
    display: flex;
    color: white;
    font-family: sans-serif;
}
div.pedido{
    background-color: red;
    font-weight: bold;
    position: relative;
    left: 1%;
    top: 170px;
    font-size: 4vh;
    justify-content: left;
    display: flex;
    color: white;
    font-family: sans-serif;
    width: 250px;
}
a{
    position: relative;
    left: 20%;
    top: 123px;

}

logo{
    display: flex;
    left: 60px;
}